<div class="jumbotron">
	<h1 align="center">Lista de Isolados</h1>
	
	<table>
		<tr>
			<th>Id do Isolado</th>
			<th>Nome do Isolado</th>
			<th>Doença do Isolado</th>
			<th>Número de amostras do Isoaldo</th>
			<th>Id do Organismo associado</th>
			<th colspan="3"></th>
		</tr>
		
		<% @isolateds.each do |isolated| %>
			<tr>
				<td><%= isolated.id %></td>
				<td><%= isolated.name %></td>
				<td><%= isolated.disease %></td>
				<td><%= isolated.n_samples %></td>
				<td><%= isolated.organism_id %></td>
				</tr>
		<% end %>
	</table>
	<br>
	<%= link_to 'Novo Organismo', new_organism_path %>
	
</div>
